.sidebar {
  width: 220px;
  background: var(--color-primary);
  color: var(--color-white);
  min-height: 100vh;
  padding: 20px;
}

.logo {
  margin: 0;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  padding: 10px 12px;
  border-radius: var(--radius-md);

  color: inherit;
  text-decoration: none;

  transition: 0.2s;
}

.link:hover {
  background: #334155;
}

.active {
  background: white;
  color: var(--color-primary);
  font-weight: 600;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .link {
    font-size: 14px;
  }
}